@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(invitations: Seq[Invitation], isAdmin:Boolean=true)(implicit request: AuthenticatedRequest[_], msgs:MessagesProvider, cfg:play.api.Configuration)
@scripts = {
  <script >
          $(document).ready( function(){
            $("#protocol_and_host").val(window.location.protocol + "//" + window.location.host);
          } );
  </script>
  <script src="@routes.Assets.versioned("js/inviteUserPage.js")"></script>
}

@templates.backEndBase("Invite User", if ( isAdmin ) views.BackOfficeSections.Users else views.BackOfficeSections.InviteUsers, Html(""), scripts){
  <div class="container">
    @comps.pageTitleRow(Messages("users.inviteUser")){ }
    <div class="row justify-content-md-center">
      <div class="col col-md-8">
        <form action="@routes.UserCtrl.doInviteUser" method="POST">
          @helper.CSRF.formField
          <div class="form-group row">
            <label for="emailInput" class="col-sm col-form-label">@Messages("users.inviteUserFieldTitle")</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <input type="email" class="form-control" id="emailInput" name="email" value="" placeholder="@Messages("emailAddress")">
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> @Messages("users.inviteUser")</button>
            </div>
          </div>
          <input type="hidden" value="" name="protocol_and_host" id="protocol_and_host">
        </form>
      </div>
    </div>
    @if( isAdmin ) {
      <div class="row justify-content-md-center">
        <div class="col col-md-8">
          @if(invitations.nonEmpty) {
            <h3>@Messages("users.pendingInvitations")</h3>
            <ul>
            @for(invitation<-invitations){
              <li>@invitation.email (@Messages("sent_f") @Helpers.formatDateTime(invitation.date))
              <button class="btn btn-outline-info btn-sm" onclick="deleteUuid('@invitation.uuid')"><i class="fa fa-trash"></i> </button>
              <button class="btn btn-outline-info btn-sm" onclick="resendEmail('@invitation.uuid')"><i class="fa fa-paper-plane"></i> </button>
              </li>
            }
            </ul>
          }else{
            <div class="noData">@Messages("users.noPendingInvitations")</div>
          }
        </div>
      </div>
    }
  </div>
}