@(form:Form[LoginFormData])(implicit request: RequestHeader, msgs:MessagesProvider)

@scripts = {
  <script lang="Javascript">
          $(document).ready( function(){
            $("#usernameInput").focus();
          } );
  </script>
}

@extraHead = {
  <meta name="robots" content="noindex, nofollow">
}

@templates.bsBase("Log in", extraHead, scripts ){
  <div class="container">
    <div class="row mt-5 justify-content-md-center">
      <div class="col-md-6">
        <h1>@Messages("login.title")</h1>
        <form action="@routes.UserCtrl.doLogin" method="POST">
          @helper.CSRF.formField
          @for( m <- form.globalErrors ){
            <div class="form-group has-error">
              <div class="alert alert-danger">@Messages(m.message)</div>
            </div>
          }
          <div class="form-group">
            <label for="usernameInput" class="control-label">@Messages("usernameOrEmail")</label>
            <input type="text" class="form-control" id="usernameInput" name="username" value="@form("username").value" placeholder="username/email">
          </div>

          <div class="form-group">
            <label for="passwordInput" class="control-label">@Messages("password")</label>
            <input type="password" class="form-control" id="passwordInput" name="password" placeholder="password">
          </div>

          <div class="form-group mt-3">
            <a href="@routes.UserCtrl.showForgotPassword()">@Messages("login.forgotPassword")</a>
            <div style="text-align:end">
              <a class="btn btn-default" href="/"><i class="fa fa-close"></i> @Messages("cancel")</a>
              <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @Messages("login.loginButtonTitle")</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
}