@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(u:User, mkCount:Int, ptCount:Int, comCount:Int)(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@scripts = {
  <script src="@routes.Assets.versioned("js/userHome.js")"></script>
}

@templates.backEndBase(Messages("userHome.title"), views.BackOfficeSections.Home, Html(""), scripts) {
    <div class="content">
      <div class="row my-3">
        <div class="col-md-6">
          <h3>@Messages("userHome.commonActions")</h3>
          <div class="buttonBox">
            @if(u.roles.contains(UserRole.Admin)){
              <a href="@routes.KnessetMemberCtrl.showKms(None, None, None)" class="btn btn-lg btn-primary">
              @Messages("userHome.editKMs")
              </a>
              <a href="@routes.KnessetMemberCtrl.showParties()" class="btn btn-lg btn-primary">
              @Messages("userHome.editParties")
              </a>

              <a href="javascript:alert('Coming soon')" class="btn btn-lg btn-success">
              @Messages("userHome.editCampaigns")
              </a>
              <button type="button" onclick="updateKmsAndPartes()" class="btn btn-sm btn-danger">
              @Messages("km.api.update")
              </button>
              <button type="button" onclick="updateCommittees()" class="btn btn-sm btn-danger">
              @Messages("committee.api.update")
              </button>
            }

            <a href="@routes.UserCtrl.showEditUserPage(u.username)" class="btn btn-lg btn-secondary">
            @Messages("userEditor.title")
            </a>
            <a href="@routes.UserCtrl.showInviteUser()" class="btn btn-lg btn-secondary">
            @Messages("users.inviteUser")
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <h3>@Messages("userHome.statistics")</h3>
          <ul>
            <li>@Messages("knessetMembers"): @mkCount</li>
            <li>@Messages("parties"): @ptCount</li>
            <li>@Messages("committees"): @comCount</li>
            <li>@Messages("campaigns"): <span class="badge badge-pill badge-secondary">n/a</span></li>
          </ul>
        </div>
      </div>

    </div>
}