@import views.BackOfficeSections
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import Helpers._

@(form:Form[UserFormData], destination:Call, isNew:Boolean, isInvite:Boolean, activeFirst:Boolean=true
 )(implicit request: AuthenticatedRequest[_], msgs:MessagesProvider)

@content = {
  <div class="container">
    @if(isInvite || isNew){
      @comps.pageTitleRow(Messages("userEditor.new.title")) { }
    }else {
      @comps.pageTitleRow(Messages("userEditor.title")){ }
    }

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a data-toggle="tab" class="nav-link @if(activeFirst){active}" href="#userEditor">@Messages("userEditor.updateDetailsTab")</a>
          </li>
          <li class="nav-item">
            <a data-toggle="tab" class="nav-link @if(isNew){disabled} @if(!activeFirst){active}" href="#changePassword">@Messages("userEditor.changePasswordTab")</a>
          </li>
        </ul>

        <div class="tab-content my-2">
          <div class="tab-pane @if(activeFirst){active}" id="userEditor">

            <form class="form-horizontal" action="@destination.url" method="POST" autocomplete="off">
              @formErrors(form)
              @formErrors(form("uuid"))

              <div class="form-group row @Helpers.fieldStatus(form("username"))">
                <label for="idInput" class="col-sm-2 control-label">@Messages("username")</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="usernameInput" name="username" value="@form("username").value.getOrElse("")"
                  placeholder="username" @if(!isNew){readonly}>
                  @formErrors(form("username"))
                </div>
              </div>

              @if(isNew){
                <div class="form-group row @Helpers.fieldStatus(form("password1"))">
                  <label for="password1Input" class="col-sm-2 control-label">@Messages("password")</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password1Input" name="password1" value="@form("password1").value.getOrElse("")"
                    placeholder="@Messages("password")">
                    @formErrors(form("password1"))
                  </div>
                </div>
                <div class="form-group row @Helpers.fieldStatus(form("password2"))">
                  <label for="password2Input" class="col-sm-2 control-label">@Messages("passwordAgain")</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password2Input" name="password2" value="@form("password2").value.getOrElse("")"
                    placeholder="@Messages("password")">
                    @formErrors(form("password2"))
                  </div>
                </div>
              }

              <div class="form-group row @Helpers.fieldStatus(form("name"))">
                <label for="nameInput" class="col-sm-2 control-label">@Messages("name")</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nameInput" name="name" value="@form("name").value.getOrElse("")" placeholder="@Messages("name")">
                  @formErrors(form("name"))
                </div>
              </div>

              <div class="form-group row @Helpers.fieldStatus(form("email"))">
                <label for="emailInput" class="col-sm-2 control-label">@Messages("emailAddress")</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="emailInput" name="email" value="@form("email").value.getOrElse("")"
                  placeholder="Email address">
                  @formErrors(form("email"))
                  <span class="helper-block">
                    @Messages("userEditor.emailHelpText")
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="col text-left">
                  <a href="@if(isInvite){/}else{@routes.UserCtrl.userHome}" class="btn btn-secondary"><i class="fa fa-close"></i> @Messages("cancel")</a>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("userEditor.updateDetails")</button>
                </div>
              </div>
              <input type="hidden" value="@form("uuid").value.getOrElse("")" name="uuid" id="uuid">
              @helper.CSRF.formField
            </form>
          </div>
          <div class="tab-pane @if(!activeFirst){active} mt-2" id="changePassword">
            <div class="col-md-12 mt-1">
              <form class="form-horizontal" action="@routes.UserCtrl.doChangePassword()" method="POST">
                <div class="form-group row">
                  <label for="password1Input" class="col-sm-2 control-label">@Messages("userEditor.previousPassword")</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="previousPassword" name="previousPassword" value="">
                    @formErrors(form("previousPassword"))
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password1Input" class="col-sm-2 control-label">@Messages("userEditor.newPassword")</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password1Input" name="password1" value="">
                    @formErrors(form("password1"))
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password2Input" class="col-sm-2 control-label">@Messages("userEditor.newPasswordAgain")</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password2Input" name="password2" value="">
                    @formErrors(form("password2"))
                  </div>
                </div>
                @helper.CSRF.formField
                <div class="form-group">
                  <div class="col">
                    <div class="text-left">
                      <a class="btn btn-secondary" href="@routes.UserCtrl.userHome()"><i class="fa fa-close"></i> @Messages("cancel")</a>
                      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("userEditor.updatePassword")</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if(!isNew){
    @templates.backEndBase("Profile Editor", BackOfficeSections.Users )(content)
} else {
    @templates.bsBase("New User")(content)
}