// Styles that are only useful in the application back-end.

li a.partyWebPage {
  display: inline-block;
  min-width: 40ex;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

li div.partyName {
  display: inline-block;
  min-width: 40ex;
}

ul.editableList {
  li {
    margin: .3em 0;
  }
}

[contenteditable=true] {
  background-color: #EEE;
  box-shadow: 0 4px 4px rgba(0,0,0,.25) inset;
}

ul.kmSelectList {
  padding: 0;
  list-style: none;
  column-count: 4;
}