logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/var/files/kms/*.png
/var/files/kms/*.jpg
/var/files/kms/*.gif
/var/files/km/*.png
/var/files/km/*.jpg
/var/files/km/*.gif
~
var
