@import play.api.Configuration
@(campaign:Campaign, pageTitle:String, campaignImage:Option[String], extraHead: Html=Html(""),
        extraBottom: Html=Html(""), analyticsOpt:Option[String]=None)(content:Html)(implicit request: RequestHeader, msgs:MessagesProvider, cfg:Configuration)
@top = {
  <meta property="og:title" content="@campaign.title"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="@campaign.website"/>
  <meta property="og:site_name" content="@campaign.title"/>
  <meta property="og:image" content="@routes.Assets.versioned("images/social-image.png")" />
  <meta property="og:description" content="@campaign.title - @campaign.slogan"/>
  <meta name="twitter:card" content="@campaign.title - @campaign.slogan" />
  <meta name="twitter:title" content="@campaign.title" />
  <meta name="twitter:description" content="@campaign.title - @campaign.slogan" />
  <meta name="twitter:image" content="@routes.Assets.versioned("images/social-image.png")" />
  <meta name="twitter:url" content="@campaign.website" />
  <meta name="description" content="@campaign.title - @campaign.slogan">
  <link rel="canonical" href="@campaign.website">
  <link rel="icon" type="image/x-icon" href="@routes.Assets.versioned("images/favicon.ico")">
  <link rel="stylesheet" href="@routes.Assets.versioned("vnd/grayscale/grayscale.min.css")">
  <link rel="stylesheet" href="@routes.Assets.versioned("css/publics.min.css")">
  <style type="text/css">
    @for( campi <- campaignImage ){
      body {
        background-image: url("@campi");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    @Html(campaign.themeData)
  </style>
  @extraHead
}

@bottom = {
  @campaign.analytics
  @extraBottom
  <script src="@routes.Assets.versioned("vnd/grayscale/grayscale.min.js")"></script>
  <script src="@routes.Assets.versioned("js/publicPages.js")"></script>
  @for(s<-analyticsOpt){@Html(s)}
}

@bsBase(pageTitle, top, bottom){
  @content

  <footer class="small text-center">
    <div class="container">
      <div class="row">
        <div class="col-md text-center text-md-right">
          @Messages("public.createdWith") <a href="@Messages("application.url")">@Messages("application.title")</a> @Html(Messages("application.slogan"))
          <a href="@routes.UserCtrl.showRequestInvite()" class="makeYourOwnCampaignBanner">
            @Messages("public.footer.createYourOwn")
          </a>
@*          <a onclick="chooseTitleForCampaign(feRoutes)" class="makeYourOwnCampaignBanner">*@
@*            @Messages("public.footer.createYourOwn")*@
@*          </a>*@
        </div>
        <div class="col-md text-center text-md-left">
          <ul class="linkList">
            <li><a href="@cfg.get[String]("hearUs.contactUsPage")">@Messages("footer.hearUs.contactUsPage")</a></li>
            <li><a href="@cfg.get[String]("hearUs.eulaPage")">@Messages("footer.hearUs.eulaPage")</a></li>
            <li><a href="@cfg.get[String]("hearUs.privacyPolicyPage")">@Messages("footer.hearUs.privacyPolicyPage")</a></li>
            <li><a href="@cfg.get[String]("hearUs.blogPage")">@Messages("footer.hearUs.blog")</a></li>
          </ul>
          <button class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#flagAsOffensiveMdl">@Messages("public.flagAsOffensive")</button>
        </div>
      </div>
    </div>

  </footer>
  <!-- Created by Nirshman (https://www.nirshman.com/) and codeworth.io (http://codeworth.io). Layout based on Grayscale (https://startbootstrap.com/themes/grayscale) -->
  @if(campaign.status!=CampaignStatus.Published){
    <div class="notPublishedBadge">@Messages("campaigns.notPublished")</div>
  }
  <div id="flagAsOffensiveMdl" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@Messages("public.flagAsOffensive")</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col">@Messages("public.flagAsOffensive.info")</div>
          </div>
          <div class="row">
            <div class="col"><textarea autocomplete="off" class="form-control" name="offensiveText" id="offensiveText" cols="30" rows="10"></textarea></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Messages("cancel")</button>
        <button type="button" class="btn btn-primary" onclick='reportAsOffensive("@campaign.slug.getOrElse("")", "@Messages("public.flagAsOffensive.sent")")'>@Messages("public.reportAsOffensive")</button>
      </div>
    </div>
  </div>
  </div>
}