@(campaign:Campaign, pageTitle:String, campaignImage:Option[String], extraHead: Html=Html(""), extraBottom: Html=Html(""))(content:Html)(implicit request: RequestHeader, msgs:MessagesProvider)


@top = {
  <meta property="og:title" content="@campaign.title"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="@campaign.website"/>
  <meta property="og:site_name" content="@campaign.title"/>
@*  <meta property="og:image" content="@campaign." />*@
  <meta property="og:description" content="@campaign.title - @campaign.slogan"/>
  <meta name="twitter:card" content="summary" />
@*  <meta name="twitter:site" content="{{ site.twitter_username }}" />*@
  <meta name="twitter:title" content="@campaign.title" />
  <meta name="twitter:description" content="@campaign.title - @campaign.slogan" />
@*  <meta name="twitter:image" content="{{site.url}}{{site.baseurl}}{% if include.twimage %}{{ include.twimage }}{% else %}{{ site.twimage }}{% endif %}" />*@
  <meta name="twitter:url" content="@campaign.website" />

  <meta name="description" content="@campaign.title - @campaign.slogan">
  <link rel="canonical" href="@campaign.website">
@*  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico"  | prepend: site.baseurl }}" />*@
  <link rel="stylesheet" href="@routes.Assets.versioned("vnd/grayscale/grayscale.min.css")">
  <link rel="stylesheet" href="@routes.Assets.versioned("css/publics.min.css")">
  <style type="text/css">
    @for( campi <- campaignImage ){
      body {
        background-image: url("@campi");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    @Html(campaign.themeData)
  </style>
  @extraHead
}

@bottom = {
  @campaign.analytics
  @extraBottom
  <script src="@routes.Assets.versioned("vnd/grayscale/grayscale.min.js")"></script>
}

@bsBase(pageTitle, top, bottom){
  @content

  <footer class="small text-center">
    <div class="container" style="direction: ltr">
      @Messages("public.createdWith") <a href="@Messages("application.url")">@Messages("application.title")</a> @Html(Messages("application.slogan"))
        @*Layout based on <a href="https://startbootstrap.com/themes/grayscale/">Grayscale</a>.
        <a class="poweredBy" href="https://www.nirshman.com/" target="_blank"><img src="@routes.Assets.versioned("images/NirHirshman.png")" alt="NirHirshman Logo"></a>
        <a class="poweredBy" href="http://codeworth.io" target="_blank"><img src="@routes.Assets.versioned("images/codeworthLogo.png")" alt="CodeWorth Logo"></a> *@
    </div>
    <!-- Created by Nirshman (https://www.nirshman.com/) and codeworth.io (http://codeworth.io). Layout based on Grayscale (https://startbootstrap.com/themes/grayscale) -->
  </footer>
  @if(campaign.status!=CampaignStatus.Published){
    <div class="notPublishedBadge">@Messages("campaigns.notPublished")</div>
  }
}