@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import models.Position.Position
@(campaign:Campaign, km:KnessetMember, party:Option[Party], actions: Seq[KmAction])(
        implicit request: AuthenticatedRequest[_], msgs:MessagesProvider, cfg:play.api.Configuration)

@scripts = {
  <script src="@routes.Assets.versioned("/js/campaignEditor/actionEditor.js")"></script>
}

@templates.campaignNavbar(campaign.title, views.Structure.campaignEditorItems(campaign), views.CampaignEditorSections.KnessetMembers, Html(""), scripts) {
  <div class="row my-2">
    <div class="col">
      <h3 id="kmName">@km.name @for(p<-party){<span class="text-info">@p.name</span>}</h3>
      <div class="text-muted">
      @Messages("campaignMgmt.actions.help")
      </div>
    </div>
    <div class="col text-left">
      <a id="addAction" href="@routes.CampaignMgrCtrl.showNewAction(campaign.id, km.id)" class="btn btn-success"><i class="fa fa-plus-circle"></i> @Messages("add")</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
    @if(actions.isEmpty) {
      <div class="noData" id="actionTableNoData">
        @Messages("actions.empty")<br>
        <a  href="@routes.CampaignMgrCtrl.showNewAction(campaign.id, km.id)" class="btn btn-large btn-outline-success"><i class="fa fa-plus-circle"></i> @Messages("add")</a>
      </div>
    } else {
      <div class="table-responsive">
        <table class="table table-sm table-striped" id="actionTable">
          <thead>
            <tr>
              <th>@Messages("title")</th>
              <th>@Messages("actionType")</th>
              <th>@Messages("date")</th>
            </tr>
          </thead>
          <tbody>
          @for( a <- actions ) {
            <tr>
              <td>
                <a href="@routes.CampaignMgrCtrl.editAction(a.id, campaign.id, km.id)">@a.title</a>
              </td>
              <td>@Messages("actionType." + a.actionType.toString)</td>
              <td>
              @Helpers.formatDate(a.date)
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    }
    </div>
  </div>
}