@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(campaign:Campaign, campaignGroups:Seq[KmGroupDN], currentUser:User, allGroups:Seq[KmGroupDN])(implicit request: AuthenticatedRequest[_], msgs: MessagesProvider)

@scripts = {
  <script src="@routes.Assets.versioned("/js/campaignEditor/campaignGroups.js")"></script>
}

@templates.campaignNavbar(if(campaign.title == "") {Messages("navbar.campaigns.new")} else {campaign.title},
  views.Structure.campaignEditorItems(campaign), views.CampaignEditorSections.CampaignGroups, extraBottom = scripts) {

  <div class="row my-2">
    <div class="col">
      <div class="text-muted">
      @Messages("campaignMgmt.groups.help")
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="hidden" name="id" id="id" value="@campaign.id">
      <label for="searchStr">@Messages("search")</label>
      <input type="text" placeholder="@Messages("campaignMgmt.groups.groupSearch.placeholder")" id="searchStr" onkeyup="filterGroupsList(this.value)">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div style="text-align: center; font-size:4px"><span id="groupListCenter">&nbsp;</span></div>
      <ul id="groupsList" style="list-style-type:none">
      @for(group <- allGroups) {
        <li data-group-name="@group.name.replaceAll("'", "%").replaceAll("\"", "@")">
          <div class="row">
            <div class="col">
              <label for="name">@group.name</label>
            </div>
            <div class="col custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="@group.id" @if(campaignGroups.contains(group)){checked} onchange="changeGroup(this)">
                <label class="custom-control-label" for="@group.id"></label>
            </div>
          </div>
        </li>
      }
      </ul>
    </div>
  </div>
}