@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(campaign:Campaign, tour:Boolean)(implicit request: AuthenticatedRequest[_], msgs: MessagesProvider)

@scripts = {
  <script src="@routes.Assets.versioned("js/campaignEditor/detailsPage.js")"></script>
  <script>
    $(document).ready(function(){
        const campUrl = beRoutes.controllers.CampaignPublicCtrl.index("@campaign.slug").absoluteURL();
        document.getElementById("hearUsUrl").value=campUrl;
        document.getElementById("hearUsUrlA").href=campUrl;
    });
        @if(tour) {hopscotch.startTour(tourOptions);}
  </script>
}

@templates.campaignNavbar(if(campaign.title == "") {Messages("navbar.campaigns.new")} else {campaign.title},
  views.Structure.campaignEditorItems(campaign), views.CampaignEditorSections.Details, extraBottom = scripts) {
  <div class="row my-2">
    <div class="col-10">
      <div class="text-muted">
        @Messages("campaignMgmt.details.help")
      </div>
    </div>
    <div class="col-2 text-left">
      <button onclick="patchDetails()" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("updateDetails")</button>
    </div>
  </div>

  <input type="hidden" name="id" id="id" value="@campaign.id">
  <div class="form-group row">
    <label for="title" class="col-sm-2">@Messages("campaigns.title")</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" id="title" value="@campaign.title">
      <small class="form-text text-muted">@Messages("campaigns.title.help")</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="title" class="col-sm-2">@Messages("campaigns.hearUsUrl")</label>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control text-code" name="hearUsUrl" id="hearUsUrl" value="hear-us-url" disabled>
        <div class="input-group-append">
          <span class="input-group-text">
            <a href="" id="hearUsUrlA"><i class="fa fa-external-link-square"></i></a>
          </span>
        </div>
      </div>
      <small class="form-text text-muted">@Messages("campaigns.hearUsUrl.help")</small>
      <div>
        <button class="addButton" type="button" onclick="chooseSlugName()">@Messages("campaigns.slug.new")</button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="subtitle" class="col-sm-2">@Messages("campaigns.slogan")</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="slogan" id="slogan" value="@campaign.slogan">
      <small class="form-text text-muted">@Messages("campaigns.slogan.help")</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="website" class="col-sm-2">@Messages("website")</label>
    <div class="col-sm-10">
      <input type="text" style="direction:ltr" class="form-control" name="website" id="website" value="@campaign.website">
      <small class="form-text text-muted">@Messages("campaigns.website.help")</small>
    </div>
  </div> <!-- website -->
  <div class="form-group row">
    <label for="contactEmail" class="col-sm-2">@Messages("campaigns.contactEmail")</label>
    <div class="col-sm-10">
      <input type="email" class="form-control text-ltr" name="contactEmail" id="contactEmail" value="@campaign.contactEmail">
      <small id="passwordHelpBlock" class="form-text text-muted">
        @Messages("campaigns.contactEmail.help")
      </small>
    </div>
  </div> <!-- contactEmail -->
  <div class="form-group row">
    <label for="analyticsCode" class="col-sm-2">@Messages("campaigns.analyticsCode")</label>
    <div class="col-sm-10">
      <textarea type="email" rows="5" class="form-control text-ltr" name="analyticsCode" id="analyticsCode">@campaign.analytics</textarea>
      <small id="passwordHelpBlock" class="form-text text-muted">
      @Messages("campaigns.analyticsCode.help")
      </small>
    </div>
  </div>

}