@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(campaign:Campaign, texts:CampaignText, positions:Position.ValueSet, genders:Gender.ValueSet)(implicit request: AuthenticatedRequest[_], msgs: MessagesProvider)

@head = {
  <link rel="stylesheet" href="@routes.Assets.versioned("/lib/summernote/summernote-bs4.css")">
}
@scripts = {
  <script src="@routes.Assets.versioned("/lib/summernote/summernote-bs4.js")"></script>
  <script src="@routes.Assets.versioned("/lib/summernote/lang/summernote-he-IL.js")"></script>
  <script src="@routes.Assets.versioned("/js/campaignEditor/frontPageEditor.js")"></script>
  <script>
    var positionStrings = [@Html(positions.toSeq.map(_.toString).mkString("'","','","'"))];
    var genderStrings = [@Html(genders.toSeq.map(_.toString).mkString("'","','","'"))];
    document.addEventListener('DOMContentLoaded', frontPageEditorSetup);
  </script>
}

@templates.campaignNavbar(if(campaign.title == "") {Messages("navbar.campaigns.new")} else {campaign.title},
  views.Structure.campaignEditorItems(campaign), views.CampaignEditorSections.FrontPage, extraBottom = scripts, extraHead=head) {
  <form id="frontPageForm"action="@routes.CampaignMgrCtrl.updateFrontPage(campaign.id)" method="POST" onsubmit="prepareForm()" enctype=multipart/form-data>
    <input type="hidden" name="groupLabels" id="groupLabels" >
    <input type="hidden" name="kmLabels" id="kmLabels">
    <input type="hidden" name="campaignId" id="campaignId" value="@campaign.id">
    @helper.CSRF.formField
    <div class="row my-2">
      <div class="col-10">
        <div class="text-muted">
        @Messages("campaignMgmt.frontPage.help")
        </div>
      </div>
      <div class="col-2 text-left">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("save")</button>
      </div>
    </div>

    <div class="form-group row">
      <label for="title" class="col-sm-2">@Messages("campaignMgmt.frontPage.title")</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="title" id="title" value="@texts.title">
        <small class="form-text text-muted">@Messages("campaignMgmt.frontPage.title.help")</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="subtitle" class="col-sm-2">@Messages("campaignMgmt.frontPage.subtitle")</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="subtitle" id="subtitle" value="@texts.subtitle">
        <small class="form-text text-muted">@Messages("campaignMgmt.frontPage.subtitle.help")</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">@Messages("campaignMgmt.frontPage.groupNames")</label>
      <div class="col-sm-10">
        <small class="form-text text-muted">@Messages("campaignMgmt.frontPage.groupNames.help")</small>
        <div style="column-count: 2">
          @for( pos <- positions ) {
            <div class="input-group mb-1">
              <div class="input-group-prepend">
                <div style="width: 7em" class="input-group-text">@Messages(pos.toString)</div>
              </div>
              <input type="text" class="form-control" name="group@pos.toString" id="group@pos.toString" value="@texts.groupLabel(pos)">
            </div>
           }
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2">@Messages("campaignMgmt.frontPage.labels")</label>
      <div class="col-sm-10">
        <small class="form-text text-muted">@Messages("campaignMgmt.frontPage.labels.help")</small>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>&nbsp;</th>
            @for( pos <- positions ){<th>@Messages(pos.toString)</th>}
            </tr>
          </thead>
          <tbody>
            @for(gender<-genders){
              <tr>
                <th>@Messages(gender.toString)</th>
              @for( pos <- positions ){<td class="p-1">
                <input type="text" id="@{gender + pos.toString}Label" name="@{gender + pos.toString}Label" value="@texts.kmLabel((gender, pos))">
                </td>}
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group row">
      <label for="bodyText" class="col-sm-2">@Messages("campaignMgr.frontPage.bodyText")</label>
      <div class="col-sm-10">
        <small class="form-text text-muted">@Messages("campaignMgr.frontPage.bodyText.help")</small>
        <textarea id="bodyText" name="bodyText">@texts.bodyText</textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="footer" class="col-sm-2">@Messages("campaignMgmt.frontPage.footer")</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="footer" id="footer" value="@texts.footer">
        <small class="form-text text-muted">@Messages("campaignMgmt.frontPage.footer.help")</small>
      </div>
    </div>
  </form>
}
