@import views.BackOfficeSections
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(campaigns:Seq[Campaign], isAdmin:Set[Long])(
        implicit request:AuthenticatedRequest[_], msgs:MessagesProvider, cfg:play.api.Configuration)

@bottom = {
  <script src="@routes.Assets.versioned("js/campaignMgmt.js")"></script>
}

@templates.backEndBase("campaignMgmt.index.title", BackOfficeSections.MyCampaigns, Html(""), bottom) {
  @comps.pageTitleRow(Messages("campaignMgmt.index.title")){

  }
  <div class="row">
    <div class="col">
      @comps.pageTitleRow(""){
        <button class="btn btn-outline-primary" onclick="chooseTitleForCampaign('beRoutes')"><i class="fa fa-plus-circle"></i> @Messages("campaigns.createNew")</button>
      }
      @comps.campaignerCampaignTable(campaigns, isAdmin)
    </div>
  </div>
}