@import views.BackOfficeSections
@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(campaigns:Seq[Campaign])(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@bottom = {
  <script src="@routes.Assets.versioned("js/campaignMgmt.js")"></script>
}

@createSpan(status:CampaignStatus.Value, id:Long) = {
  @status match {
    case CampaignStatus.Rejected => {
      <span id="lblRej_@id" class="badge badge-danger">@Messages("rejected")</span>
      <span id="lblPr_@id" class="badge badge-primary" style="display: none">@Messages("waiting")</span>
      <span id="lblWp_@id" class="badge badge-secondary" style="display: none;">@Messages("editing")</span>
    }
    case CampaignStatus.Published => {
      <span id="lblPub_@id" class="badge badge-success">@Messages("published")</span>
    }
    case CampaignStatus.WorkInProgress => {
      <span id="lblWp_@id" class="badge badge-secondary">@Messages("editing")</span>
      <span id="lblPr_@id" class="badge badge-primary" style="display: none">@Messages("waiting")</span>
      <span id="lblRej_@id" class="badge badge-danger" style="display: none">@Messages("rejected")</span>
    }
    case CampaignStatus.PublicationRequested => {
      <span id="lblPr_@id" class="badge badge-primary">@Messages("waiting")</span>
      <span id="lblWp_@id" class="badge badge-secondary" style="display: none">@Messages("editing")</span>
      <span id="lblRej_@id" class="badge badge-danger" style="display: none">@Messages("rejected")</span>
    }
  }
}

@templates.backEndBase("campaignMgmt.index.title", BackOfficeSections.MyCampaigns, Html(""), bottom) {
  @comps.pageTitleRow(Messages("campaignMgmt.index.title")){

  }
  <div class="row">
    <div class="col">
      @comps.pageTitleRow(""){
        <button class="btn btn-outline-primary" onclick="chooseTitleForCampaign('beRoutes')"><i class="fa fa-plus-circle"></i> @Messages("campaigns.createNew")</button>
      }
      @if(campaigns.nonEmpty) {
        <table class="table table-striped">
          @for(c <- campaigns) {
            <tr>
              <td>@createSpan(c.status, c.id)
              <strong>@c.title</strong>
                @if(c.slogan.trim.nonEmpty) {@c.slogan}</td>
              <td>
                <a class="btn btn-sm btn-outline-primary" href="@routes.CampaignMgrCtrl.details(c.id, false)"><i class="fa fa-edit"></i>
                  @Messages("edit")</a>
                <button type="button" id="deleteBtn" onclick="deleteCampaign(@c.id, 'campaigner');" class="btn btn-sm btn-outline-danger">
                  <i class="fa fa-trash"></i> @Messages("delete")</button>
              @if(c.status != CampaignStatus.Published) {
                  <button type="button" id="publishBtn_@c.id" onclick="changeRequestStatus(1, @c.id, this);" class="btn btn-sm btn-outline-success"
                    @if(c.status == CampaignStatus.Published || c.status == CampaignStatus.PublicationRequested) {style="display: none"}>
                    <i class="fa fa-check"></i> @Messages("askForPublish")</button>
                  <button type="button" id="cancelPublishBtn_@c.id" onclick="changeRequestStatus(0, @c.id, this);" class="btn btn-sm btn-outline-secondary"
                    @if(c.status != CampaignStatus.PublicationRequested) {style="display: none"}>
                    <i class="fa fa-check"></i> @Messages("cancelRequest")</button>
                </td>
              }
            </tr>
          }
        </table>
      } else {
        <div class="noData">
          @Messages("campaignMgmt.myCampaigns.noCampaigns")
          <button onclick="chooseTitleForCampaign('beRoutes')" class="linkLike">@Messages("campaigns.createNew")</button>
        </div>
      }
    </div>
  </div>
}