@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import models.ActionType.ActionType
@import Helpers._
@(action:Form[KmAction], km:KnessetMember, campaign:Campaign, actionTypes:Seq[ActionType])(
        implicit request: AuthenticatedRequest[_], msgs:MessagesProvider, cfg:play.api.Configuration)

@scripts = {
  <script src="@routes.Assets.versioned("js/campaignEditor/actionEditor.js")"></script>
}

@templates.backEndBase(action("title").value.getOrElse(Messages("actions.new")), views.BackOfficeSections.MyCampaigns, extraBottom = scripts){
  <form action="@routes.CampaignMgrCtrl.saveAction(campaign.id, km.id)" method="POST" id="saveActionForm">
    @comps.pageTitleRow(action("title").value.getOrElse(km.name + ": " + Messages("actions.new")), "", 5) {
      @if(action("id").value.isDefined) {
        <button type="button" class="btn btn-danger" onclick="deleteAction(@action("id").value.getOrElse(-1), @campaign.id, @km.id)"><i class="fa fa-trash-o"></i> @Messages("delete")</button>
      }
      <a href="@routes.CampaignMgrCtrl.allActions(campaign.id, km.id)" class="btn btn-secondary"><i class="fa fa-close"></i> @Messages("cancel")</a>
      <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("save")</button>
    }
    <div class="row">
      <div class="col">
        @helper.CSRF.formField
        <input type="hidden" name="camId" value="@campaign.id">
        <input type="hidden" name="kmId" value="@km.id">
        <input type="hidden" name="id" value="@action("id").value.getOrElse(-1)">
        <div class="form-group row">
          <label for="actionType" class="col-sm-2">@Messages("actionType")</label>
          <div class="col-sm-10">
            <select name="actionType" id="actionType" class="form-control" autocomplete="off">
              @for(aType <- actionTypes){
                <option name="@aType.toString" value="@aType" @if(action("actionType").value.contains(aType.toString)){selected}>@Messages("actionType." + aType.toString)</option>
              }
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="date" class="col-sm-2">@Messages("date")</label>
          <div class="col-sm-4">
            <input type="date" name="date" value="@action("date").value.getOrElse("")">
          </div>
        </div>

        <div class="form-group row @Helpers.fieldStatus(action("title"))">
          <label for="title" class="col-sm-2">@Messages("title")</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" value="@action("title").value.getOrElse("")">
            @formErrors(action("title"))
          </div>
        </div>
        <div class="form-group row @Helpers.fieldStatus(action("link"))">
          <label for="link" class="col-sm-2">@Messages("link")</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="link" name="link" value="@action("link").value.getOrElse("")">
            @formErrors(action("link"))
          </div>
        </div>
        <div class="form-group row @Helpers.fieldStatus(action("details"))">
          <label for="name" class="col-sm-2">@Messages("details")</label>
          <div class="col-sm-10">
            <textarea type="text" rows="5" class="form-control" name="details" id="details">@action("details").value.getOrElse("")</textarea>
            @formErrors(action("details"))
          </div>
        </div>
      </div>
    </div>
  </form>
}