@(campaign:Campaign, texts:CampaignText, km:KnessetMember, party:Option[Party], position:Position.Value,
        imageUrl:String, imageCredit:Option[String],
        actions:Seq[KmAction], contactOptions:Seq[ContactOption]
)(implicit request: RequestHeader, msgs:MessagesProvider)

@platformIcon(platformName:Option[Platform.Value])={
  @platformName match {
    case None => {<i class="fa fa-asterisk"></i>}
    case Some(plt) => {@plt match {
        case Platform.Phone => {<i class="fa fa-phone"></i>}
        case Platform.Email => {<i class="fa fa-at"></i>}
        case Platform.Mail => {<i class="fa fa-home"></i>}
        case Platform.Fax => {<i class="fa fa-fax"></i>}
        case Platform.Facebook => {<i class="fa fa-facebook"></i>}
        case Platform.Twitter => {<i class="fa fa-twitter"></i>}
      }
    }
  }
}

@showContactOption(conOp:ContactOption)={
  <div class="contactOption contactOption-@conOp.platform">@defining(Platform.tryConvert(conOp.platform)){ platformOpt =>
    @platformIcon(platformOpt) @conOp.title: @platformOpt match {
      case Some(Platform.Mail)=>{ <address>@Html(conOp.details.trim.replaceAll("\\n", "<br>"))</address> }
      case Some(Platform.Fax)=>{ <a href="tel:@conOp.details.trim">@conOp.details.trim</a> }
      case Some(Platform.Phone)=>{ <a href="tel:@conOp.details.trim">@conOp.details.trim</a> }
      case Some(Platform.Email)=>{ <a href="mailto:@conOp.details.trim">@conOp.details.trim</a> }
      case Some(Platform.Twitter)=>{ <a href="https://twitter.com/@conOp.details.trim">@conOp.details.trim@@</a> }
      case Some(Platform.Facebook)=>{ <a href="https://www.facebook.com/@conOp.details.trim">@conOp.details.trim@@</a> }
      case other:Option[Platform.Value] => {@conOp.details}
    }
    @if( conOp.note.trim.nonEmpty ){<small>@conOp.note</small>}
  }</div>
}

@actionIcon( actType:ActionType.Value )={@actType match {
  case ActionType.Interview =>{<i class="fa fa-newspaper-o"></i>}
  case ActionType.Vote =>{<i class="fa fa-hand-pointer-o"></i>}
  case ActionType.OfficialPosition =>{<i class="fa fa-bank"></i>}
  case ActionType.Post =>{<i class="fa fa-globe"></i>}
  case ActionType.EMail =>{<i class="fa fa-envelope"></i>}
  } @Messages("actionType."+actType.toString):
}
@showAction(act:KmAction)={
<div class="kmAction">
  @actionIcon(act.actionType) @if( act.link.trim.nonEmpty ){ <a href="@act.link">@act.title<a>}else{@act.title}
  @if( act.details.trim.nonEmpty ){<p class="details">@act.details</p>}
</div>
}

@templates.publicCampaign(campaign, campaign.title + ": " + km.name){
  <div class="container">
    <div class="row my-2">
      <div class="col">
        <a class="navbar-brand" href="@routes.CampaignPublicCtrl.index(campaign.slug)#sectionKMs"><i class="fa fa-arrow-circle-o-right"></i> @campaign.title</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 text-center">
        <img style="width:100px" alt="picture of @km.name" src="@imageUrl" />
        @for( credit <- imageCredit ) {
          <br><small class="text-muted">@Messages("public.mk.imageCredit") @credit</small>
        }
      </div>
      <div class="col-sm-9">
        <h1><b>@km.name</b> @for(p<-party){<i>@p.name</i>}</h1>
        <h2 class="@position.toString p-1">@texts.kmLabel(km.genderVal, position)</h2>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-md">
        <h2>@Messages("public.kmPage.contactOptions")</h2>
        @if( contactOptions.nonEmpty ){
          <ul class="mkItemList">
            @for( co<-contactOptions  ){
              <li>@showContactOption(co)</li>
            }
          </ul>
        } else {
          <div class="m-4">@Messages("public.kmPage.noContactOptions")</div>
        }
      </div>
      @if( actions.nonEmpty ) {
        <div class="col-md">
          <h2>@Messages("public.kmPage.actions")</h2>
          <ul class="mkItemList">
            @for( act<-actions  ){
              <li>@showAction(act)</li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
}
