@(campaign:Campaign, imageOpt:Option[String], texts:CampaignText, kms:Seq[KnessetMember], parties:Seq[Party], committees:Seq[KmGroupDN],
        km2Party:Map[Long,Party],  km2Image:Map[Long,String], km2Pos:Map[Long,models.Position.Value], km2Cmt:Map[Long,Iterable[Long]]

)(implicit request: RequestHeader, msgs:MessagesProvider)

@makeTweetText()={
  texts.tweet(
}

@scripts={
  <script>
    let mk2cmt = {
      @km2Cmt.map( kc => s"${kc._1}: ${kc._2.mkString("[",",","]")}" ).mkString(",\n")
    };

    @if( campaign.contactEmail.trim.nonEmpty ) {
      @defining(campaign.contactEmail.split("@")){ comps =>
        function contactUs(){
          let user="@comps(0)";
          let domain = "@comps.last";
          window.location.href="mailto:" + user + "@@" + domain;
        }
      }
    }
  </script>
  <script src="@routes.Assets.versioned("lib/d3js/d3.min.js")"></script>
}

@bottom={
  <script src="@routes.Assets.versioned("js/cfpCtrl.js")"></script>
  <script>
      if (document.attachEvent ? document.readyState === "complete" : document.readyState !== "loading"){
        cfpCtrl.setup();
      } else {
        document.addEventListener('DOMContentLoaded', cfpCtrl.setup);
      }
  </script>
}

@templates.publicCampaign(campaign, campaign.title + ": " + campaign.slogan, imageOpt, scripts, bottom){
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">@campaign.title</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        @Messages("public.navbar.menu")
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#sectionMainText">@Messages("public.navbar.about")</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#sectionKMs">@Messages("public.navbar.mks")</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="page-top">
    <div class="container">
      <div class="row my-5">
        <div class="col text-center">
          <div class="masthead-x">
            <h1 class="mx-auto">@texts.title</h1>
            <h2 class="mx-auto">@texts.subtitle</h2>
            <ul class="socialLinks">
              @defining( (helper.urlEncode(campaign.title + ": " + campaign.slogan), helper.urlEncode("https://"+request.host+request.uri))  ){ case (encText, url)=>
                <li><a href="https://twitter.com/intent/tweet?text=@Html(encText)+@url"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/sharer.php?u=@url"><i class="fa fa-facebook"></i></a></li>
                <li><a href="mailto:?subject=@Html(encText.replaceAll("\\+","%20"))&body=@url"><i class="fa fa-envelope"></i></a></li>
                <li><a href="whatsapp://send?text=@Html(encText) + @url" data-action="share/whatsapp/share"><i class="fa fa-whatsapp"></i></a></li>
              }
              @if(campaign.website.trim.nonEmpty){<li><a href="@campaign.website.trim" title="@Messages("public.mainSite")"><i class="fa fa-globe"></i></a></li>}
            </ul>
            <a href="#sectionMainText" class="btn btn-round js-scroll-trigger"><i class="fa fa-angle-double-down animated"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="sectionMainText">
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-8 mx-auto">
          @Html(texts.bodyText)
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a href="#sectionKMs" class="btn btn-round js-scroll-trigger"><i class="fa fa-angle-double-down animated"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section id="sectionKMs" class="text-center">
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-8 mx-auto">
          <h2>@Messages("public.sections.mks.title")</h2>
          <div>
            <select id="groupSelect" class="custom-select" onchange="cfpCtrl.filterByGroup( this.value )" autocomplete="off">
              <option id="all" value="all">@Messages("public.filter.menu.all")</option>
              <optgroup label="@Messages("public.filter.menu.parties")">
                @for( p<-parties ){ <option value="p_@p.id">@p.name</option>}
              </optgroup>
              @if( committees.nonEmpty ) {
                <optgroup label="@Messages("public.filter.menu.committees")">
                @for(c <- committees) {
                  <option value="c_@c.id">@c.name</option>
                }
                </optgroup>
              }
            </select>
            <br />
            <div id="filterButtons" class="filter-btns">
              <button class="btn btn-sm selected" onclick="cfpCtrl.filterByStatus(null); cfpCtrl.selectFilterButton(this);" id="btnAllLabel">@Messages("public.filter.all")
                <br>
                <span class="badge badge-pill badge-secondary" id="allCount">0</span>
              </button>
              @for( pos <- Seq(Position.Undecided, Position.Against, Position.Neutral, Position.For) ) {
                <button class="btn btn-no btn-sm @pos.toString" onclick="cfpCtrl.filterByStatus('@pos.toString.toLowerCase()'); cfpCtrl.selectFilterButton(this);" id="btn@{pos.toString}">
                  @texts.groupLabel(pos)<br>
                  <span class="badge badge-pill badge-secondary" id="@{pos.toString.toLowerCase}Count">0</span>
                </button>
              }
            </div>
            <div id="noMksFound" class="hidden">
              <em>לא נמצאו חברי כנסת העונים לתאור</em><br>
              שנו את הגדרות הסינון על ידי לחיצה על אחד מכפתורי העמדה או בחירת מפלגה או וועדה אחרת מהתפריט.
            </div>
            <ul id="kms" class="km-list">@for(km <- kms){<li data-kmId="@km.id" data-kmParty="@km.partyId" class="@km2Pos(km.id).toString">@comps.kmCard(km, km2Party.get(km.id), km2Pos(km.id), km2Image(km.id), texts.kmLabel((models.Gender.withName(km.gender.toLowerCase), km2Pos(km.id))), campaign.slug.getOrElse("No camp slug") )</li>}
            </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="footerSection" class="text-center">
    <div class="container">
      <div class="row my-5">
        <div class="col-lg-8 mx-auto">
          @if(campaign.website.trim.nonEmpty){
            <a href="@campaign.website.trim" title="@Messages("public.mainSite")">@texts.footer</a>
          } else {
            @texts.footer
          }
        </div>
      </div>
      @if( campaign.contactEmail.trim.nonEmpty ) {
        <div class="row my-5">
          <div class="col-lg-8 mx-auto">
            <button onclick="contactUs()" type="button" class="btn btn-outline-light btn-sm">@Messages("public.contactUs")</button>
          </div>
        </div>
      }
    </div>
  </section>
}
