@(campaign:Campaign, imageOpt:Option[String], texts:CampaignText, km:KnessetMember, party:Option[Party], position:Position.Value,
        imageUrl:String, imageCredit:Option[String],
        actions:Seq[KmAction], contactOptions:Map[Platform.Value,Seq[ContactOption]],
        emailCndMsgOpt: Option[CannedMessage],
        twitterCndMsgs:Map[ContactOption, String],
        whatsAppCndMsgs:Map[ContactOption, String],
        analyticsOpt:Option[String]=None
)(implicit request: RequestHeader, msgs:MessagesProvider, cfg:play.api.Configuration)

@platformIcon(platformName:Option[Platform.Value])={
  @platformName match {
    case None => {<i class="fa fa-asterisk"></i>}
    case Some(plt) => {@plt match {
        case Platform.Phone => {<i class="fa fa-phone"></i>}
        case Platform.Email => {<i class="fa fa-at"></i>}
        case Platform.Mail => {<i class="fa fa-home"></i>}
        case Platform.WhatsApp => {<i class="fa fa-whatsapp"></i>}
        case Platform.Fax => {<i class="fa fa-fax"></i>}
        case Platform.Facebook => {<i class="fa fa-facebook"></i>}
        case Platform.Twitter => {<i class="fa fa-twitter"></i>}
      }
    }
  }
}

@showContactOption(conOp:ContactOption)={
  <div class="contactOption contactOption-@conOp.platform">@defining(Platform.tryConvert(conOp.platform)){ platformOpt =>
    @platformIcon(platformOpt) @conOp.title: @platformOpt match {
      case Some(Platform.Mail)=>{ <address>@Html(conOp.details.trim.replaceAll("\\n", "<br>"))</address> }
      case Some(Platform.Fax)=>{ <a href="tel:@conOp.details.trim">@conOp.details.trim</a> }
      case Some(Platform.Phone)=>{ <a href="tel:@conOp.details.trim">@conOp.details.trim</a> }
      case Some(Platform.Email)=>{ <a href="mailto:@conOp.details.trim">@conOp.details.trim</a> }
      case Some(Platform.Twitter)=>{ <a href="https://twitter.com/@conOp.details.trim">@conOp.details.trim@@</a> }
      case Some(Platform.Facebook)=>{ <a href="https://www.facebook.com/@conOp.details.trim">@conOp.details.trim@@</a> }
      case other:Option[Platform.Value] => {@conOp.details}
    }
    @if( conOp.note.trim.nonEmpty ){<small>@conOp.note</small>}
  }</div>
}

@actionIcon( actType:ActionType.Value )={@actType match {
  case ActionType.Interview =>{<i class="fa fa-newspaper-o"></i>}
  case ActionType.Vote =>{<i class="fa fa-hand-pointer-o"></i>}
  case ActionType.OfficialPosition =>{<i class="fa fa-bank"></i>}
  case ActionType.Post =>{<i class="fa fa-globe"></i>}
  case ActionType.EMail =>{<i class="fa fa-envelope"></i>}
  } @Messages("actionType."+actType.toString):
}
@showAction(act:KmAction)={
<div class="kmAction">
  @actionIcon(act.actionType) @if( act.link.trim.nonEmpty ){ <a href="@act.link">@act.title</a>}else{@act.title}
  @if( act.details.trim.nonEmpty ){<p class="details">@act.details</p>}
</div>
}

@bottom={
  @Html(campaign.analytics)
  <script src="@routes.Assets.versioned("js/publicKMPage.js")"></script>
}

@templates.publicCampaign(campaign, campaign.title + ": " + km.name, imageOpt, Html(""), bottom, analyticsOpt){
  <div class="container">
    <div class="row my-2">
      <div class="col">
        <a class="navbar-brand" href="@routes.CampaignPublicCtrl.index(campaign.slug.getOrElse("No camp slug"))#sectionKMs"><i class="fa fa-arrow-circle-o-right"></i> @campaign.title</a>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-sm-3 text-center">
        <img style="display:block; margin:auto" alt="picture of @km.name" src="@imageUrl" />
        @for( credit <- imageCredit ) {
          <small class="text-muted">@Messages("public.mk.imageCredit") @credit</small>
        }
      </div>
      <div class="col-sm-9">
        <h1><b>@km.name</b> @for(p<-party){<i>@p.name</i>}</h1>
        <h2 class="@position.toString p-1">@texts.kmLabel(km.genderVal, position)</h2>
      </div>
    </div>

    @if( actions.nonEmpty ) {
      <div class="row my-2">
        <div class="col">
          <div class="col-md">
            <h2>@Messages("public.kmPage.actions") @km.name</h2>
            <ul class="mkItemList">
              @for( act<-actions  ){
                <li>@showAction(act)</li>
              }
            </ul>
          </div>
        </div>
      </div>
    }

    @if( contactOptions.nonEmpty ){
      <div class="row my-2">
        <div class="col-md">
          <h2>@Messages("public.kmPage.writeToKm") @km.name</h2>
            <ul class="mkItemList">
              @for( hdlMsgPair <- twitterCndMsgs  ){
                <li>@platformIcon(hdlMsgPair._1.platformObj)
                  @Messages("public.kmPage.tweetOnTwitter")<a target="_blank" href="https://twitter.com/intent/tweet?text=@Html(helper.urlEncode(hdlMsgPair._2))">@@@hdlMsgPair._1.details
                    @views.Helpers.ifNotEmpty(hdlMsgPair._1.title){t=>(@t)}</a>
                </li>
              }
              @for( cos<-contactOptions.get(Platform.Facebook)  ){
                @for( co <- cos ){
                  <li>@platformIcon(co.platformObj) <a class="fbLink" href="https://www.facebook.com/@co.details">@Messages("public.kmPage.openOnFacebook", co.title)</a></li>
                }
              }
              @for( hdlMsgPair <- whatsAppCndMsgs  ){
                <li>@platformIcon(Some(Platform.WhatsApp))
                  <a target="_blank" href="https://wa.me/@Helpers.whatsAppPhoneFmt(hdlMsgPair._1.details)?text=@Html(helper.urlEncode(hdlMsgPair._2))">
                    @Messages("public.kmPage.writeOnWhatsApp") @hdlMsgPair._1.details
                    @views.Helpers.ifNotEmpty(hdlMsgPair._1.title){t=>(@t)}</a>
                </li>
              }
              @for( cos<-contactOptions.get(Platform.Email); msg <-emailCndMsgOpt  ){
                @for( co <- cos ){
                  <li>@platformIcon(cos.head.platformObj) @Messages("public.kmPage.sendEmail", co.details)
                  <a class="btn btn-sm btn-outline-secondary" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=@co.details&su=@helper.urlEncode(campaign.title + ": " + campaign.slogan)&body=@helper.urlEncode(msg.text).replaceAll("\\+","%20")">
                    <i class="fa fa-send"></i> @Messages("public.kmPage.openInGMail")</a>
                    <a class="btn btn-sm btn-outline-secondary" target="_blank" href="mailto:@co.details?subject=@helper.urlEncode(campaign.title + ": " + campaign.slogan).replaceAll("\\+","%20")&body=@helper.urlEncode(msg.text).replaceAll("\\+","%20")">
                    <i class="fa fa-send-o"></i> @Messages("public.kmPage.openInLocalMail")</a>
                  </li>
                }
                <li>@Messages("public.kmPage.emailText")
                  @for( msg <- emailCndMsgOpt ){
                    <textarea class="form-control" style="color: inherit; background-color:rgba(.5,.5,.5,.1); height:14em;" onclick="this.select()" style="cursor:text; height:10em" readonly autocomplete="off">@msg.text</textarea>
                  }
                </li>
              }
            </ul>
        </div>
      </div>
    }

  </div>
  <div class="modal fade" id="eulaApprovalModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">@Messages("public.kmPage.eulaModal.title")</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          @Messages("public.kmPage.eulaModal.text")
          <a target="_blank" href="@cfg.get[String]("hearUs.eulaPage")">@Messages("public.kmPage.eulaModal.page")</a>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">@Messages("public.kmPage.eulaModal.decline")</button>
          <button type="button" onclick="PublicKMPage.approveEula()" class="btn btn-primary">@Messages("public.kmPage.eulaModal.approve")</button>
        </div>
      </div>
    </div>
  </div>
}