@import views.BackOfficeSections
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(campaigns:Seq[Campaign])(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@head = {
  <link rel="stylesheet" href="@routes.Assets.versioned("css/toggleSwitch.min.css")">
}

@bottom = {
  <script src="@routes.Assets.versioned("js/campaignsAdmin.js")"></script>
}

@templates.backEndBase("campaigns", BackOfficeSections.ManageSystemCampaigns, head, bottom) {
  @comps.pageTitleRow(Messages("campaigns.title")){
    <a class="btn btn-outline-primary" href="@routes.CampaignAdminCtrl.createCampaign()"><i class="fa fa-plus-circle"></i> @Messages("campaigns.createNew")</a>
  }
  <div class="row">
    <div class="col">
      @if( campaigns.isEmpty ) {
        <div class="noData">
          @Messages("campaigns.noCampaignsInSystem") <br>
          <a href="@routes.CampaignAdminCtrl.createCampaign()">@Messages("campaigns.createNew")</a>
        </div>
      } else {
        <table class="table table-striped">
          <thead>
            <tr>
              <th>@Messages("campaigns.table.title")</th>
              <th>@Messages("campaigns.table.isPublished")</th>
          </tr>
          </thead>
          <tbody>
          @for( c <- campaigns ){
            <tr>
              <td>
                <strong>@c.title</strong> @if(c.subtitle.trim.nonEmpty){@c.subtitle}
              </td>
              <td>
                <label class="switch">
                  <input type="checkbox" onchange="updatePublish(this, @c.id)" @if(c.isPublished){checked}>
                  <span class="slider round"></span>
                </label>
              </td>
            </tr>
          }
          </tbody>
        </table>
      }
    </div>
  </div>
}