@import views.BackOfficeSections
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(campaigns:Seq[Campaign],contacts:Map[Long, Seq[(String, String)]], myCampaignIds:Set[Long])(
        implicit request:AuthenticatedRequest[_], msgs:MessagesProvider, cfg:play.api.Configuration)

@head = {
  <link rel="stylesheet" href="@routes.Assets.versioned("css/toggleSwitch.min.css")">
}

@bottom = {
  <script src="@routes.Assets.versioned("js/campaignsAdmin.js")"></script>
}

@templates.backEndBase("campaigns", BackOfficeSections.ManageSystemCampaigns, head, bottom) {
  @comps.pageTitleRow(Messages("admin.campaign-table.title")){
    <button class="btn btn-outline-primary" onclick="chooseTitleForCampaign('beRoutes')"><i class="fa fa-plus-circle"></i> @Messages("campaigns.createNew")</button>
  }

  <div class="row">
    <div class="col">
      @if( campaigns.isEmpty ) {
        <div class="noData">
          @Messages("campaigns.noCampaignsInSystem") <br>
          <button onclick="chooseTitleForCampaign('beRoutes')" class="linkLike">@Messages("campaigns.createNew")</button>
        </div>
      } else {
        <table class="table table-striped">
          <thead>
            <tr>
              <th>@Messages("campaigns.table.title")</th>
              <th>@Messages("campaigns.table.admins")</th>
              <th>@Messages("campaigns.table.status")</th>
              <th>@Messages("campaigns.table.actions")</th>
          </tr>
          </thead>
          <tbody>
          @for( c <- campaigns ){
              <tr>
                <td>
                  <a href="@routes.CampaignPublicCtrl.index(c.slug.getOrElse(""))"><strong>@c.title</strong> @if(c.slogan.trim.nonEmpty){@c.slogan}</a>
                </td>
              <td>
                @for(admin <- contacts.get(c.id).flatMap( _.headOption )){
                    <a href="mailto:@admin._2">@admin._1</a>
                }
              </td>
              <td>
                @comps.campaignStatusBadge(c.status)
                @c.status match {
                  case CampaignStatus.PublicationRequested => {
                    <button class="btn btn-outline-success btn-sm" onclick="updateStatus(2, @c.id)">@Messages("campaigns.table.publish")</button>
                    <button class="btn btn-outline-danger btn-sm" onclick="updateStatus(3, @c.id)">@Messages("campaigns.table.reject")</button>
                  }
                  case CampaignStatus.Published => {
                    <button class="btn btn-outline-danger btn-sm" onclick="updateStatus(3, @c.id)">@Messages("campaigns.table.reject")</button>
                  }
                  case CampaignStatus.Rejected => {
                    <button class="btn btn-outline-success btn-sm" onclick="updateStatus(2, @c.id)">@Messages("campaigns.table.publish")</button>
                  }
                  case _ =>{}
                }
              </td>
              <td>
                <button type="button" name="deleteBtn" onclick="deleteCampaign(@c.id, 'admin');" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                <a href="@routes.CampaignPublicCtrl.index(c.slug.getOrElse(""))" class="btn btn-sm btn-success"><i class="fa fa-television" title="preview"></i></a>
                @if( myCampaignIds(c.id) ){
                  <a href="@routes.CampaignMgrCtrl.details(c.id, false)" class="btn btn-sm btn-info"><i class="fa fa-edit" title="preview"></i></a>
                } else {
                  <a href="@routes.CampaignMgrCtrl.details(c.id, false)" class="btn btn-sm btn-warning"><i class="fa fa-edit" title="preview"></i></a>
                }
              </td>
            </tr>
          }
          </tbody>
        </table>
      }
    </div>
  </div>
}