@import views.BackOfficeSections
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(campaigns:Seq[Campaign],contacts:Map[Long, Seq[(String, String)]])(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@head = {
  <link rel="stylesheet" href="@routes.Assets.versioned("css/toggleSwitch.min.css")">
}

@bottom = {
  <script src="@routes.Assets.versioned("js/campaignsAdmin.js")"></script>
}

@templates.backEndBase("campaigns", BackOfficeSections.ManageSystemCampaigns, head, bottom) {
  @comps.pageTitleRow(Messages("campaigns.title")){
    <a class="btn btn-outline-primary" href="@routes.CampaignMgrCtrl.createCampaign()"><i class="fa fa-plus-circle"></i> @Messages("campaigns.createNew")</a>
  }

  <div class="row">
    <div class="col">
      @if( campaigns.isEmpty ) {
        <div class="noData">
          @Messages("campaigns.noCampaignsInSystem") <br>
          <a href="@routes.CampaignMgrCtrl.createCampaign()">@Messages("campaigns.createNew")</a>
        </div>
      } else {
        <table class="table table-striped">
          <thead>
            <tr>
              <th>@Messages("campaigns.table.title")</th>
              <th>@Messages("campaigns.table.admins")</th>
              <th>@Messages("campaigns.table.slug")</th>
              <th>@Messages("campaigns.table.actions")</th>
              <th>@Messages("campaigns.table.delete")</th>
          </tr>
          </thead>
          <tbody>
          @for( c <- campaigns ){
            <tr>
              <td>
                <strong>@c.title</strong> @if(c.slogan.trim.nonEmpty){@c.slogan}
              </td>
            <td>
              @for(admin <- contacts(c.id)){
                  <div><a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=@admin._2">@admin._1</a></div>
              }
            </td>
              <td>
                @if(c.slug.nonEmpty) {
                  <a href="@routes.CampaignPublicCtrl.index(c.slug.get)">@c.slug.get</a>
                }
              </td>
              <td>
                <div class="actions">
                  @c.status match {
                    case CampaignStatus.WorkInProgress => {
                      <div class="alert alert-info">@Messages("campaigns.table.inWorking")</div>
                    }
                    case CampaignStatus.PublicationRequested => {
                      <button class="btn btn-outline-success btn-sm" onclick="updateStatus(2, @c.id)">@Messages("campaigns.table.publish")</button>
                      <button class="btn btn-outline-danger btn-sm" onclick="updateStatus(3, @c.id)">@Messages("campaigns.table.reject")</button>
                    }
                    case CampaignStatus.Published => {
                      <div class="alert alert-success">@Messages("campaigns.table.isPublish")
                        <button class="btn btn-outline-danger btn-sm" onclick="updateStatus(3, @c.id)">@Messages("campaigns.table.reject")</button>
                      </div>
                    }
                    case CampaignStatus.Rejected => {
                      <div class="alert alert-danger">@Messages("campaigns.table.rejected.warning")
                        <button class="btn btn-outline-success btn-sm" onclick="updateStatus(2, @c.id)">@Messages("campaigns.table.publish")</button>
                      </div>
                    }
                  }
                </div>
              </td>
              <td>
                <button type="button" name="deleteBtn" onclick="deleteCampaign(@c.id, 'admin');" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          }
          </tbody>
        </table>
      }
    </div>
  </div>
}