@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(groups:Seq[KmGroupDN])(implicit request: AuthenticatedRequest[_], msgs:MessagesProvider)

@templates.backEndBase("Groups", views.BackOfficeSections.Knesset, Html("")) {
  @comps.pageTitleRow(Messages("groups.title"), Messages("groups.subtitle")){
    <a href="@routes.KnessetMemberCtrl.showNewGroup()" class="btn btn-large btn-outline-secondary"><i class="fa fa-plus-circle"></i> @Messages("add")</a>
  }

  <div class="row">
    <div class="col-md-12">
    @if(groups.isEmpty) {
      <div class="noData">
        @Messages("groups.empty")
      </div>
    } else {
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>@Messages("name")</th>
            </tr>
          </thead>
          <tbody>
          @for( group <- groups ) {
            <tr>
              <td><a href="@routes.KnessetMemberCtrl.showEditGroup(group.id)">@group.name</a></td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    }
    </div>
  </div>
}
