@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import Helpers._

@import Platform.Platform
@import dataaccess.KnessetMemberDAO
@(group:Form[GroupData], kms:Seq[KnessetMember])(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@scripts = {
  <script src="@routes.Assets.versioned("js/groupPage.js")"></script>
  <script >
    $(document).ready(function() {
       var kms = $("#kmsIds").val().split(",");
       kms.forEach(function (value) {
           $("#km-"+value).prop("checked", true);
       });
    });
  </script>
}

@templates.backEndBase(group("name").value.getOrElse("New Group"), views.BackOfficeSections.Knesset, Html(""), scripts) {
  @comps.pageTitleRow(group("name").value.getOrElse(Messages("groupEditor.title"))){ }
  <div class="row">
    <div class="col">
      <form action="@routes.KnessetMemberCtrl.doEditGroup()" method="POST" id="editGroupForm">
        @helper.CSRF.formField
        <input name="id" type="hidden" id="id" value="@group("id").value.getOrElse("-1")">
        <input name="knessetKey" type="hidden" id="knessetKey" value="@group("knessetKey").value.getOrElse("-1")">
        <input name="kmsIds" type="hidden" id="kmsIds" value="@group("kmsIds").value.getOrElse("")">
        <div class="form-group row @Helpers.fieldStatus(group("name"))">
          <label for="name" class="col-sm-2 control-label">@Messages("name")</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" value="@group("name").value.getOrElse("")">
            @formErrors(group("name"))
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-2 control-label">@Messages("knessetMembers")</label>
          <div class="col-sm-10">
            @if(kms.isEmpty){
              <div class="noData">
                @Messages("groupEditor.empty")
              </div>
            } else{
              <ul class="kmSelectList">
              @for(km <- kms) {
                <li>
                  <input id="km-@km.id" type="checkbox" name="kmSelect" value="@km.name">
                  <label for="km-@km.id"> @km.name </label>
                </li>
              }
              </ul>
            }
          </div>
        </div>
        <div class="col text-left">
          <a href="@routes.KnessetMemberCtrl.showGroups()" class="btn btn-secondary"><i class="fa fa-close"></i> @Messages("cancel")</a>
          <button type="button" onclick="submitForm()" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("save")</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
    @if(group("id").value.isDefined) {
      <button type="button" class="btn btn-danger" onclick="deleteGroup(@group("id").value.getOrElse("-1"))"><i class="fa fa-trash-o"></i> @Messages("groupEditor.delete")</button>
    }
    </div>
  </div>
}