@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(groups:Seq[KmGroupDN])(implicit request: AuthenticatedRequest[_], msgs:MessagesProvider)

@templates.backEndBase("Groups", views.BackOfficeSections.Knesset, Html("")) {
  <div class="row">
    <div class="col">
      <h1>
        <div class="pull-right">
          <a href="@routes.KnessetMemberCtrl.showNewGroup()" class="btn btn-large btn-default"><i class="fa fa-plus-circle"></i> Add</a>
        </div>
        Groups
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    @if(groups.isEmpty) {
      <div class="noData">
        At the moment, the system contains no groups.
      </div>
    } else {
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
          @for( group <- groups ) {
            <tr>
              <td><a href="@routes.KnessetMemberCtrl.showEditGroup(group.id)">@group.name</a></td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    }
    </div>
  </div>
}
