@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import Helpers._

@import dataaccess.Platform.Platform
@import dataaccess.KnessetMemberDAO
@(km:Form[KnessetMember], prefix:String, parties:Map[Long,String], platforms: Seq[Platform])(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)


@head = {
  <link rel="stylesheet" href="@routes.Assets.versioned("css/contactOption.min.css")">
  @comps.upload.headUpload()
}

@scripts = {
  <script src="@routes.HomeCtrl.backEndRoutes()?113"></script>
  <script> var urlPrefix = "@prefix" </script>
  @comps.upload.bottom(km("id").value.getOrElse("-1").toLong, "fileUploadComplete")
  <script src="@routes.Assets.versioned("js/kmPage.js")"></script>
}

@templates.backEndBase(km("name").value.getOrElse(Messages("knessetMember.new")), views.BackOfficeSections.Knesset, head, scripts){
  @comps.pageTitleRow(km("name").value.getOrElse(Messages("knessetMember.new"))){ }
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#kmDetails">@Messages("details")</a>
        </li>
        <li class="nav-item">
          <a class="nav-link@if( km("id").value.isEmpty ){ disabled}" data-toggle="pill" href="#imagePane">@Messages("image")</a>
        </li>
        <li class="nav-item">
          <a class="nav-link@if( km("id").value.isEmpty ){ disabled}" data-toggle="pill" href="#contactOptions">@Messages("contactOptions")</a>
        </li>
      </ul>

      <div class="tab-content pt-2">
        <div class="tab-pane active" id="kmDetails">
          <form id="editKMForm"  method="POST" action="@routes.KnessetMemberCtrl.doEditKM()">
            @helper.CSRF.formField
            <input type="hidden" id="id" name="id" value="@km("id").value.getOrElse("-1")">
            <input type="hidden" id="partyId" name="partyId" value="@km("partyId").value.getOrElse("")">
            <div class="form-group row @Helpers.fieldStatus(km("name"))">
              <label for="name" class="col-sm-2 control-label">@Messages("name")</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" value="@km("name").value.getOrElse("")">
                @formErrors(km("name"))
              </div>
            </div>
            <div class="form-group row">
              <label for="gender" class="col-sm-2 control-label">@Messages("gender")</label>
              <div class="col-sm-10">
                <input class="hidden" type="radio" name="gender" value="Male" id="male" @if(km("gender").value!=Some("Female")){checked}>
                <label for="male" class="buttonLike">@Messages("male")</label>
                <input class="hidden" type="radio" name="gender" value="Female" id="female" @if(km("gender").value==Some("Female")){checked}>
                <label for="female" class="buttonLike">@Messages("female")</label>
              </div>
            </div>
            <div class="form-group row">
              <label for="gender" class="col-sm-2 control-label">@Messages("website")</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="webPage" id="webPage" value="@km("webPage").value.getOrElse("")">
              </div>
            </div>
            <div class="form-group row">
              <label for="gender" class="col-sm-2 control-label">@Messages("party")</label>
              <div class="col-sm-10">
                <select name="parties" id="parties" class="form-control">
                  @for((partyId, partyName) <- parties) {
                    @if(partyId == km("partyId").value.getOrElse("-1").toLong){
                      <option name="partiesList" value="@partyId" selected>@partyName</option>
                    } else {
                      <option name="partiesList" value="@partyId">@partyName</option>
                    }
                  }
                </select>
              </div>
            </div>
            <div class="col">
              <a href="@routes.KnessetMemberCtrl.showKms()" class="btn btn-secondary"><i class="fa fa-close"></i> @Messages("cancel")</a>
              <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @Messages("save")</button>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="imagePane">
          <div class="row">
            <div class="col">
              <h3>
                @Messages("image")
              </h3>
            </div>
          </div>
          <div class="row slideUpPanel" style="display:none" id="fileEditorPanel">
            <div class="col">
              <div id="uploader"></div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="noData p-4" id="noImagePanel" style="display:none">
                @Messages("knessetMember.noImage") <a href="javascript:showAddImage()">@Messages("add")</a>.
              </div>
              <div class="noData" id="loadingImagePanel">
                <i class="fa fa-spin fa-refresh"></i> @Messages("loadingImage")
              </div>
              <div id="imageCtnr" class="imageCtnr">
                <div class="imageCard" data-role="imageTemplate">
                  <div class="imagePreviewCtnr">
                    <a href="" data-role="linkToFull" target="_blank">
                      <img class="imagePreview" data-role="image" src="" alt="">
                    </a>
                  </div>
                  <div class="creditCtnr">
                    @helper.CSRF.formField
                    @Messages("imageCredit"):<br>
                    <input type="text" data-role="credit">
                    <div class="buttonInlineCtnr">
                      <button class="btn btn-sm btn-outline-secondary" type="button" data-role="updateCredit"><i class="fa fa-save"></i> @Messages("update")</button>
                      <button class="btn btn-sm btn-outline-danger" type="button" data-role="deleteFile"><i class="fa fa-trash"></i> @Messages("delete")</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="contactOptions">
          <div class="row">
            <div class="col">
              <h3>
                @Messages("contactOptions")
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="text-right">
                <button onclick="updateContactOptions(@km("id").value.getOrElse("-1"))" class="btn btn-sm btn-primary"><i class="fa fa-save"></i> @Messages("update")</button>
              </div>
              <div class="noData p-4" id="noContact" style="display:none">
                @Messages("knessetMember.noContactDetails")
              </div>
              <div class="noData" id="loadingContactOptions">
                <i class="fa fa-spin fa-refresh"></i> @Messages("loadingContactDetails")
              </div>
              <div class="optionsCtnr">
                <ul id="platformList" style="list-style-type:none">
                  <li id="optionTemplate">
                    <select name="contactType" id="contactType" class="form-control" style="display:inline; width:auto">
                      @for(platform <- platforms){
                        <option name="@platform.toString" value="@platform">@Messages("contactPlatform." + platform.toString)</option>
                      }
                    </select>
                    <label name="title">
                      <input type="text" class="form-control" name="title" placeholder="" maxlength="256"> <span>@Messages("title")</span> </label>
                    <label name="note">
                      <input type="text" class="form-control" name="note" placeholder=""> <span>@Messages("note")</span> </label>
                    <label name="details">
                      <input type="text" class="form-control" name="details" placeholder="" maxlength="256"> <span>@Messages("details")</span> </label>
                    <button type="button" class="btn btn-danger" style="vertical-align: baseline" onclick="deleteRow(this)"><i class="fa fa-close"></i></button>
                  </li>
                </ul>
                <div>
                  <button type="button" class="btn btn-outline-success" onclick="addPlatform()"><i class="fa fa-plus"></i> @Messages("add")</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col">
        @if(km("id").value.isDefined) {
          <button type="button" class="btn btn-danger" onclick="deleteKM(@km("id").value.getOrElse("-1"))"><i class="fa fa-trash-o"></i> @Messages("knessetMember.delete")</button>
        }
        </div>
      </div>
    </div>
  </div>
}
