@import be.objectify.deadbolt.scala.AuthenticatedRequest

@(knessetMembers:Seq[KnessetMember], parties:Map[Long, Party])(implicit request: AuthenticatedRequest[_], msgs:MessagesProvider)

@templates.backEndBase("Knesset Members", views.BackOfficeSections.Knesset, Html("")) {
  @comps.pageTitleRow(Messages("knessetMembers")){
    <a href="@routes.KnessetMemberCtrl.showNewKM()" class="btn btn-large btn-outline-success"><i class="fa fa-plus-circle"></i> @Messages("add")</a>
  }
  <div class="row">
    <div class="col-12">
      @if(knessetMembers.isEmpty) {
        <div class="noData">
          @Messages("knessetMembers.empty")<br>
          <a href="@routes.KnessetMemberCtrl.showNewKM()" class="btn btn-large btn-outline-success"><i class="fa fa-plus-circle"></i> @Messages("add")</a>
        </div>
      } else {
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>@Messages("name")</th>
                <th>@Messages("party")</th>
              </tr>
            </thead>
            <tbody>
              @for( km <- knessetMembers ) {
                <tr>
                  <td>
                    <a href="@routes.KnessetMemberCtrl.showEditKM(km.id)">@km.name</a>
                  </td>
                  <td>
                    @parties(km.partyId).name
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </div>
  </div>
}
