@()(implicit request:RequestHeader, msgs:MessagesProvider)


@templates.bsBase(Messages("application.title") ) {
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-3">
            @Messages("index.title.hear")<strong> @Messages("index.title.us")</strong>
          </h1>
          <hr class="my-4">
          <div class="alert alert-success" role="alert">
            <strong>@Messages("index.slogan")</strong>
          </div>
          <div class="text-center">
            <a class="btn btn-outline-info" href="@routes.UserCtrl.showLogin" style="margin-left: 2em">@Messages("login") </a>
            <a class="btn btn-outline-info" href="@routes.UserCtrl.showSignupPage" style="margin-left: 2em">@Messages("signup")</a>
            <button class="btn btn-outline-info" onclick="chooseTitleForCampaign('feRoutes')">@Messages("startNewCampaign")</button>
          </div>

          <p class="my-4 text-center">@Messages("index.note")</p>
        </div>
      </div>
    </div>
  </div>
}
