@(frontPageTextOpt:Option[String])(implicit request:RequestHeader, msgs:MessagesProvider, cfg:play.api.Configuration)

@ehead={
  <style>
    body{
      padding-bottom: 5em;
    }
    #bgImg {
      position: fixed;
      pointer-events: none;
      bottom: -10px;
      left: -105px;
      transform: rotate(-13deg);
      z-index: -1000;
      opacity: .5;
    }
    ul.inlineLinks {
      list-style: none;
      padding: 0;
    }
    ul.inlineLinks li {
      display: inline-block;
    }
    ul.inlineLinks li a {
      display: inline-block;
      text-decoration: none;
      color: #cccccc;
      padding: 0 1em;
    }
    ul.inlineLinks li a:hover {
      color: #00FFAA;
    }
    ul.inlineLinks li a:active {
      color: #88FFFF;
    }
    ul.indexNavs li {
      margin-right: .5em;
    }

    footer {
      position: fixed;
      bottom:0;
      left:0;
      right:0;
      height: 5em;
      padding: 0;
      margin: 0;
    }

    @@media(max-width: 768px) {
      ul.indexNavs li {
        margin: .3em 0;
        text-align: left;
        display: block;
      }
      footer {
        position: static;
        height: auto;
      }
      body{
        padding-bottom: 0;
      }
    }
  </style>
}

@templates.bsBase(Messages("application.title"), ehead ) {
  <img id="bgImg" src="@routes.Assets.versioned("images/campaignScreenshot.png")" alt="background campaign image">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
    <span class="navbar-brand mb-0 h1">
      @Messages("index.title.hear")
      <strong>@Messages("index.title.us")</strong>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto indexNavs">
        <li class="nav-item">
          <a class="btn btn-outline-info" href="@routes.UserCtrl.showLogin">@Messages("login") </a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-info" href="@routes.UserCtrl.showRequestInvite">@Messages("signup")</a>
        </li>
@*        <li class="nav-item">*@
@*          <button class="btn btn-outline-success" onclick="chooseTitleForCampaign('feRoutes')">@Messages("startNewCampaign")</button>*@
@*        </li>*@
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row withCampBkg">
      <div class="col py-4">
        @frontPageTextOpt match {
          case None=>{
            <div class="jumbotron">
              <h1 class="display-3">
                @Messages("index.title.hear")<strong> @Messages("index.title.us")</strong>
              </h1>
              <hr class="my-4">
              <div class="alert alert-success" role="alert">
                <strong>@Messages("index.slogan")</strong>
              </div>
            </div>
          }
            case Some(s)=>{@Html(s)}
        }
      </div>
    </div>
  </div>
  <footer class="container-fluid">
    <div class="row py-1 bg-dark text-white">
      <div class="col-md">
        <p class="my-4 text-center">@Messages("index.note")</p>
      </div>
      <div class="col-md text-center text-md-left">
        <ul class="my-4 inlineLinks">
          <li><a href="@cfg.get[String]("hearUs.contactUsPage")">@Messages("footer.hearUs.contactUsPage")</a></li>
          <li><a href="@cfg.get[String]("hearUs.eulaPage")">@Messages("footer.hearUs.eulaPage")</a></li>
          <li><a href="@cfg.get[String]("hearUs.privacyPolicyPage")">@Messages("footer.hearUs.privacyPolicyPage")</a></li>
          <li><a href="@cfg.get[String]("hearUs.blogPage")">@Messages("footer.hearUs.blog")</a></li>
        </ul>
      </div>
    </div>
  </footer>
}
