@()(implicit request:RequestHeader, msgs:MessagesProvider)


@templates.bsBase(Messages("application.title") ) {
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-3">
            @Messages("index.title.hear")<strong>@Messages("index.title.us")</strong>
          </h1>
          <hr class="my-4">
          <div class="alert alert-info" role="alert">
            <strong>@Messages("index.slogan")</strong>
          </div>
        </div>
      </div>
    </div>

    @*<div class="row my-5">*@
      @*<div class="col text-center">*@
        @*<a href="@routes.UserCtrl.showLogin">@Messages("login")</a>*@
      @*</div>*@
    @*</div>*@
  </div>
}
